body{
    background-color: rgb(255, 255, 255);
}
.h{
    background-color: rgb(255, 255, 255);
    height: 100px;
}
h1{
    color: #624300;
    background-color: #ffc179;
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    margin-right: 5%;
    margin-top: -4%;
}
.ff2{
    margin-left: 1%;
}
.ff3{
    margin-left: 1%;
}
.ff4{
    margin-left: 1%;
}
.content1{
    display: flex;
}
.content2{
    display: flex;
}